*{
    margin: 0px;
    box-sizing:border-box;
    /* outline: 2px solid red !important; */
}

.top-header{
    width: 100%;
    height: 40px;
    background: #D5EAFF;
    overflow: hidden;
}

.top-text{
    position: absolute;
    height: 44px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 37px;
    text-align: center;
    color: #0063CC;
}

.logoimg{
    width: 150px;
}

.icons{
    height: 20px;
}

.header{
    /* Header */
    box-sizing: border-box;
    width: 100%;
    height: 112px;
    background: rgba(250, 250, 250, 0.75);
    border-bottom: 1px solid #E6E6E6;
    backdrop-filter: blur(16px);
    /* Note: backdrop-filter has minimal browser support */
    padding-top: 20px;
}

.header-text{
    position: absolute;
    justify-content: center;
    top: 60px;
    align-items: center;
    text-align: center;
}

.header-options{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    /* padding-top: 20px; */
    color: #282829;
}

.topnav{
    height: 155px;
    padding-top: 44px;
}

.image{
    width:100%;
    /* position: relative; */
}

#imgmob{
    display: none;
}

.image img{
    width:100%;
}

.centered {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;  
    font-family: sans-serif;
  }

  .pos{
    position: absolute;
    top:150;
    left:80;  
    font-family: sans-serif;
  }

.font{
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 700;
    width: 500px;
    text-align: center;
}

.container {
    text-align: center;
    width: 100%;
    height: 112px;
    /* padding-right: 15px;
    padding-left: 15px; */
    padding-top: 30px;
    /* margin-right: auto;
    margin-left: auto;
    align-items: center;
 */
}

.btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    gap: 8px;

    width: 111px;
    height: 40px;
    margin-top: 170px;
    background: #FFFFFF;
    border-radius: 48px;
}

.btn:hover {background-color: black}

.btn-text:hover {color:white}

/* .resultContainer{
    display: none;
}
.resultContainer:hover{
    display: inline;
} */

.btn-text{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #282829;
}

a:hover{

    padding: 10px 15px;
    background: #FFFFFF;
    color: black;
    border-radius: 48px;
    /* margin-left: 0px; */
    margin-top: 222px;
}

.layout{
    margin-left: auto;
    margin: 0px 124.5px;
    padding: 0px 40px;
}

.lay{
    line-height: 1.25;
    color: #282829;
    font-weight: 400;
    padding-top: 72px;
    display: block;
    font-size: 28px;
    font-family: system-ui; 
}

.contain{
    display: flex;
    width:33.33%;
    
}

.layout-img{
    position: relative;
    margin-right: 32px;
    border-radius: 20px;
    z-index: 0;
}

/* .layout-img:hover{opacity: 0.7;} */


.containr {
    display: flex;
    width: 33.33%;
    position: relative;
    text-align: center;
    color: white;
    margin-top: 24px; 
    margin-left:165px;
}

.center-left{
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
  /* z-index: 2;   */
}
.center-right{
  position: absolute;
  top: 50%;
  right: -125%;
  transform: translate(-50%, -50%);
  /* z-index: 2; */
}
.center{
  position: absolute;
  top: 50%;
  left: 107%;
  width: 200px;
  transform: translate(-50%, -50%);
  /* z-index: 2; */
}

.font-s{
    font-family: Sofia Pro,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    font-weight: 400px;
    font-size: 20px;
    line-height: 1.6;
    color: #fff;
    margin: 0;
    z-index: 1;
}

/* .product{
    display: flex;
    flex-wrap: nowrap;
    width: 25%;
} */

.top-left {
    position: relative;
    /* top: 100px; */
    margin-left: 250px;
    margin-bottom: 16px;
  }

.font-m{
    font-weight: 500;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    font-size: 40px;
    line-height: 56px;
}

.bar{
    position: relative;
    display: flex;
    margin-left: 158px;
    margin-right: 100px;
}

.textbar{
    position: absolute;
    left: 80;
    top: 150;
    width: 300px;
}

.font-sm{
    font-weight: 700;
    font-size: 32px;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    line-height: 40px;
}

.img-style{
    border-radius: 20px; 
    margin-right: 16px;
}

.footer{
    position: relative;
    width: 100%;
    height:296px;
    margin-top: 152px;
    background: #282829;
}

.foot-flex{
    position: absolute;
    display: flex;
}

.foot-style{
    color: white;
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
}

.font-xs{
    font-size: 16px; 
    font-weight:400;
}

.foot-space{
    margin-right:80px ; 
    margin-top: 32px;
}

.slider-left{
    position: absolute;
    margin-top: 180px;
}

.slider-right{
    right: 250;
    bottom: -1198px;
    position: absolute;
}

button{
    border: none;
    border-radius: 50px;
    padding: 0px;
    opacity: 0;
}

button:hover{
    opacity: 1;
}

.overlay{
    position: absolute;
    margin-left: 125px;
    width: 480px;
    height: 127px;
    border-radius: 20px;
    opacity: 0;
    background: rgb(0, 0, 0);
    z-index: 1;
    background-color: black;
  }

.overlay:hover{
    opacity: 0.3;
}

.posx{
    margin-top: 232px; 
    padding-left: 15px; 
}

p{
    text-decoration-line: line-through;
    color: #999999; 
    padding-right:8px;
}

/* .slider{
    display: flex;
    width:83%
} */

.arr{
    position: absolute;
    z-index: 1;
    margin-top: 268px;
    margin-left: 248px;
}

.user_icon{
    margin-left:1200px; 
    padding-bottom: 58px;
}

.bagicon{
    margin-left:29px; 
    padding-bottom: 58px;
}

.sec{
    overflow: hidden;
}

#vec{
    display: none;
}

.font-wid{
    padding-top: 100px;
}

#aligners1{
    display: none;
}

#txt-brk{
    display: none;
}

#txt{
    display: inline;
}

.over2{
    display: block;
    margin-top: 0px;
    margin-left:511px;
}

.over3{
    left:900px;
}

.padding{
    line-height: 1.25;
    color: #282829;
    font-weight: 400;
    padding-top: 450px;
    display: block;
    font-size: 28px;
    font-family: system-ui; 
}

.margin{
    margin-top: 24px; 
    margin-left: 160px;
}

.img-align{
    margin-right: 32px;
    margin-top: 72px;
    border-radius: 20px;
}

#img3{
    display: none;
}

#img2{
    display: block;
}

#img4{
    display: block;
}

.position{
    padding-top: 96px;
}

.position2{
    margin-left: 770;
}

#img5{
    display: none;
}

.marg{
    margin-top: 220px;
}

.pos3 {
    left: 850;
}

.foot-margin{
    margin-left: 158px;
}


@media only screen and (max-width: 576px) {

    .over3{
        left: 0;
        top: 192;
    }

    a#hov2:hover{
        margin-top: 750px;
    }

    a#hov1:hover{
        margin-top: 190px;
    }

    .footer{
        margin-top: 40px;
        height: 110%;
    }

    .foot-flex{
        flex-wrap: wrap;
        margin-left: 18px;
    }

    .foot-margin{
        margin-left: 0px;
    }

    .marg{
        margin-top: 200px;
    }

    .btn{
        margin-top: 140px;
    }

    .pos3{
        margin-top: 700px;
    }

    .pos4 {
        padding-top: 200px;
        padding-left: 15px;
    }

    /* #hov2.posx{
        display: none;
    }

    #hov2.position2{
        display: none;
    } */

    .posx{
        margin-top: 200px;
    }

    .position2{
        margin-left: 0px;
        margin-top: 560px;
    }

    #img5{
        display: block;
    }

    .pos{
        top: 60;
        left: 24;
    }

    .position{
        padding-top: 80px;;
    }

    .font-sm {
        font-weight: 700;
        font-size: 20px;
        line-height: 32px;
    }

    .textbar {
        left: 24;
        top: 48;
    }

    .bar{
        margin-left: 16px;
        flex-wrap: wrap;
    }

    #img3{
        display: block;
    }

    #img4{
        display: none;
    }

    #img2{
        display: none;
    }

    .img-align2{
        margin-right: 32px;
        margin-top: 32px;
        border-radius: 20px;
        width: 330px;
        height: 520px;
    }

    .font-m{
        font-size: 20px;
        font-weight: 700;
    }

    .img-style{
        width: 172px;
        height: 212px;
    }

    .margin{
        margin-top: 24px; 
        margin-left: 16px;
    }

    .padding{
        padding-top: 300px;
        line-height: 1.25;
        color: #282829;
        font-weight: 400;
        display: block;
        font-size: 20px;
        font-family: system-ui;
    }



    #overlay2{
        top: 97;
    }
    .top-header {
        position: absolute;
        width: 100%;
        height: 40px;
        background: #D5EAFF;
    }

    .top-text {
        position: absolute;
        font-family: system-ui;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: px;
        color: #0063CC;
    }

    .topnav {
        height: 88px;
        padding-top: 40px;
    }

    .header-options{
        display: none;
    }

    .container {
        text-align: center;
        width: 100%;
        height: 112px;
        padding-right: 15px;
        padding-left: 15px;
        padding-top: 15px;
        /* margin-right: auto;
        margin-left: auto;
        align-items: center; */
    }

    .logoimg{
        width:100px;

    }

    .icons{
        height: 20px;
        position: relative;
        bottom: 20;
        left: 15;
    }

    #vec{
        display: block;
        position: relative;
        top: 5;
    }

    .user_icon{
        margin-left: 290px;
        position: relative;
        bottom: 10px;
    }
    .bagicon{
       visibility: hidden;
    }

    /* .image{
        background-image: url("/home/varsha/Zenyum/images-mobile/HOMEPAGE-WATERFLOSSER-BANNER-MOBILE.png");
        background-repeat: no-repeat;
        background-position: center;
        height: 520px;
    } */
    #img1{
       display: none;
    }

    #imgmob{
        display: block;
    }

    .font{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 700;
        font-size: 28px;
        line-height: 40px;
        width: 400;
    }

    .centered{
        position: absolute;
        top: 340;
        justify-content: center;
        left: 50%;
        transform: translate(-50%, -50%);

        font-family: system-ui;
        align-content: center;
        text-align: center;
    }

    .font-wid{
        width: 400;
        padding-top: 100px;
    }

    .layout {
        margin-left: 16px;
        padding: 0px;
    }

    .lay {
        line-height: 1.25;
        color: #282829;
        font-weight: 400;
        padding-top: 32px;
        display: block;
        font-size: 20px;
        font-family: system-ui;
    }

    .layout-img {
        position: relative;
        border-radius: 20px;
        margin-bottom: 8px;
        width: 343px;
        height: 88px;
    }

    .containr {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        text-align: center;
        color: white;
        margin-top: 24px;
        margin-left: 16px;
    }

    .overlay {
        position: absolute;
        margin-left: 0px;
        width: 330px;
        height: 88px;
        border-radius: 20px;
        opacity: 0;
        background: rgb(0, 0, 0);
        z-index: 1;
    }
    
    .overlay-mob{
        top: 97;
        margin-left: 0px;
    }

    .overlay-mobi{
        top: 192;
        left: 0px;
    }

    .center-left {
        position: absolute;
        top: 15%;
        left: 130%;
        width: 300;
        transform: translate(-50%, -50%);
        /* z-index: 2; */
    }

    .font-s {
        font-family: Sofia Pro,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
        font-weight: 400px;
        font-size: 16px;
        line-height: 1.6;
        color: #fff;
        margin: 0;
        z-index: 1;
    }

    .center-right {
        position: absolute;
        top: 82%;
        right: -115%;
        transform: translate(-50%, -50%);
        /* z-index: 2; */
    }

    .center {
        position: absolute;
        top: 50%;
        left: 72%;
        width: 200px;
        transform: translate(-50%, -50%);
        /* z-index: 2; */
    }
    
    #aligners1{
        position: relative;
        display: block;
        width: 100%;
        height: 520px;
        border-radius: 20px;
    }

    #aligners{
        display: none;
    }
    #txt-brk{
        display: inline;
    }

    #txt{
        display: none;
    }

    .top-left {
        position: relative;
        top: 16;
        margin-left: 44px;
        margin-bottom: 8px;
    }

    .container{
        height: 0px;
    }
    

}
